<div class="d-flex jusrify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">AGREGAR ACCIÓN</h1>
</div>
<p>AGREGAR</p>
<div class="form-group">
    <label>Nombre Acción:
        <input [(ngModel)]="acciones.nombre_Accion" class="form-control" placeholder="DIGITE NOMBRE ACCIÓN" type="text" />
    </label>
</div>

<div class="form-group">
    <label>tipo_Accion: </label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="acciones.tipo_Accion" type="text">
        <option>TUTORÍAS</option>
        <option>INVESTIGACIÓN</option>
        <option>EXTENCIÓN</option>
        <option>MATERIAL DE APOYO</option>
        <option>TRABAJO DE GRADO</option>
        <option>COOPERACIÓN INTERINSTITUCIONAL</option>
        <option>CRECIMIENTO PROFESIONAL</option>
        <option>ENCARGO ADMINISTRATIVO</option>
    </select>
</div>
<div class="form-group">
    <button (click)="add()" class="btn btn-primary">Agregar</button>
</div>