<div>
        <button type="button" class="close" arial-label="close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <h4 class="modal-title">
            <p>AGREGAR</p>
        </h4>
    </div>
    
    <div class="modal-body">
    
        <div>
           
        </div>
    
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close click')">
            close
        </button>
    </div>