<br>
<br>
<br>
<br>
<br>

<div>
    <h1 class="h2">LISTA DE ACCIONES</h1>
</div>
<div>
    <table class='table table-bordered table-responsive-md table-striped text-center'>
        <thead>
            <tr>
            <tr>
                <th>CÓDIGO ACCIÓN</th>
                <th>NOMBRE ACCIÓN</th>
                <th>TIPO DE ACCIÓN</th>
                <th>VER</th>
            </tr>
        </thead>
        <tr *ngFor="let acciones of acciones">
            <td>{{acciones.cod_Accion}}</td>
            <td>{{acciones.nombre_Accion}}</td>
            <td>{{acciones.tipo_Accion}}</td>
            <td><a routerLink="/ModificarAcciones/{{acciones.cod_Accion}}"><span class="table-remove"><button type="button"
                class="btn btn-success btn-rounded btn-sm my-0">Editar</button></span></a></td>
        </tr>
    </table>
</div>