<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <img class="wave" src="../../../../assets/Imagenes/wave.png">
    <div class="container">
        <div class="img">
            <img src="../../../../assets/Imagenes/bg.svg">
        </div>
        <div class="login-content">
            <form action="index.html" (submit)="ValidarLogin($event)">
                <img src="../../../../assets/Imagenes/avatar.svg">
                <h2 class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="div" class="input">
                        <h5>Username</h5>
                        <input type="text" class="input" id="username">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="div " class="input">
                        <h5>Password</h5>
                        <input type="password" class="input" id="password">
                    </div>
                </div>
                <a href="#">Por favor escoger un rol</a>
                <select class="form-control" id="tipoCargo">
                    <option value="NoRol">             ROL            </option>
                    <option value="Administrador">Administrador</option>
                    <option value="Docente">Docente</option>
                </select>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>