<p>registro-tipo-de-actividad works!</p>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <div class="contenido">
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-uppercase mb-0">ACCIONES</h1>

                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
        </header>
        <br>
        <!-- FORMATO-->
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Tabla de Acciones</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ver</th>
                                <th>Código Tipo de Actividad</th>
                                <th>Nombre Tipo de Actividad</th>
                               
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Ver</th>
                                <th>Código Tipo de Actividad</th>
                                <th>Nombre Tipo de Actividad</th>
                           
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let tipoDeActividad of tipoDeActividades">
                                <td><button (click)="open(task)">
                                    Ver
                                </button>
                                </td>
                                <td>{{tipoDeActividad.cod_TipoActividad}}</td>
                                <td>{{tipoDeActividad.nombre_Actividad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
</body>
<hr>