<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div>
    <h1 class="h2">LISTA DE ACTIVIDADES</h1>
</div>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>
        Tabla de Tipo Actividad</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ver</th>
                        <th>Código Tipo Actividad</th>
                        <th>Nombre Tipo Actividad</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tipoActividad">
                        <td>
                            <button (click)="open()">
                                Ver
                            </button>
                        </td>
                        <td>{{item.cod_TipoActividad}}</td>
                        <td>{{item.nombre_Actividad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="card-footer small text-muted">
        Modificación Continua
    </div>
</div>