<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">

    <router-outlet></router-outlet>
    <br>
    <br>
    <br>
    <br>
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; AcomUPC-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>REGISTROS</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" routerLink="/RegistroDocente">Registrar Docente</a></li>
            <li><a class="text-muted" routerLink="/RegistroAcciones">Registrar Acciones</a></li>
            <li><a class="text-muted" routerLink="/HomePrincipal">Registrar Plan de Acción</a></li>
            <li><a class="text-muted" routerLink="/HomePrincipal">Registrar Actividad Complementaria</a></li>
            <li><a class="text-muted" routerLink="/HomePrincipal">Adjuntar Evidencia</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>CONSULTA</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" routerLink="/ConsultaDocente">Consultar Docentes</a></li>
            <li><a class="text-muted" routerLink="/ConsultaAcciones">Consultar Acciones</a></li>
            <li><a class="text-muted" routerLink="/HomePrincipal">Consultar Plan de Acción</a></li>
            <li><a class="text-muted" routerLink="/HomePrincipal">Consultar Actividad Complementaria</a></li>
            <li><a class="text-muted" routerLink="/HomePrincipal">Consultar Evidencia</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

</body>