<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">

    <router-outlet></router-outlet>
    
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; AcomUPC-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Formularios</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted"  routerLink="/">REGISTROS</a></li>
            <li><a class="text-muted"  routerLink="/RegistroDocente">Registrar Docente</a></li>
            <li><a class="text-muted"  routerLink="/RegistroAcciones">Registrar Actividad</a></li>
            <li><a class="text-muted"  routerLink="/user/profile">Perfil</a></li>
            <li><a class="text-muted"  routerLink="/home">Foro</a></li>
            <li><a class="text-muted"  routerLink="/home">Contenido</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" routerLink="/administrador/perfil">CONSULTA</a></li>
            <li><a class="text-muted" routerLink="/ConsultaDocente">Consultar Docentes</a></li>
            <li><a class="text-muted" routerLink="/ConsultaAcciones">Consultar Acciones</a></li>
            <li><a class="text-muted" routerLink="/administrador/perfil">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  
  </body>
  