<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <div class="contenido ">
        <div class="masthead bg-primary text-white text-center   ">
                <div class="container d-flex align-items-center flex-column " class="conta color">

                        <!-- Masthead Heading -->
                        <h1 class="masthead-heading text-uppercase mb-0">DOCENTE</h1>
        
                        <!-- Icon Divider -->
                        <div class="divider-custom divider-light">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="divider-custom-line"></div>
                        </div>
        
                    </div>
        </div>
        <header >
           
        </header>

        <!-- FORMATO-->
        <!-- Contact Section -->
        <section class="page-section" id="contact">
            <div class="container">

                <!-- Contact Section Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">AGREGAR DOCENTE</h2>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Contact Section Form -->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <form name="sentMessage" id="contactForm" novalidate="novalidate" name="registar">
                            <div class="form-row">
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Tipo de Documento: </label>
                                            <select class="browser-default custom-select" id="exampleFormControlSelect1"
                                                name="Tipo Documento" [(ngModel)]="docente.tipo_Documento" type="text">
                                                <option>CÉDULA DE CIUDADANIA</option>
                                                <option>CÉDULA DE EXTRANJERÍA</option>
                                                <option>DNI</option>
                                                <option>REGISTRO CIVIL</option>
                                            </select>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Identificación:</label>
                                            <input [(ngModel)]="docente.identificacion" class="form-control" name="id"
                                                placeholder="DIGITE IDENTIFICACIÓN" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Primer Nombre:</label>
                                            <input [(ngModel)]="docente.primer_Nombre" class="form-control"
                                                name="Priemr Nombre" placeholder="DIGITE PRIMER NOMBRE" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Segundo Nombre:</label>
                                            <input [(ngModel)]="docente.segundo_Nombre" class="form-control"
                                                name="Segundo Nombre" placeholder="DIGITE SEGUNDO NOMBRE" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Primer Apellido:</label>
                                            <input [(ngModel)]="docente.primer_Apellido" class="form-control"
                                                name="Primer Apellido" placeholder="DIGITE PRIMER APELLIDO"
                                                type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Segundo Apellido:</label>
                                            <input [(ngModel)]="docente.segundo_Apellido" class="form-control"
                                                name="Segundo Apellido" placeholder="DIGITE SEGUNDO APELLIDO"
                                                type="text" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Fecha Nacimiento: </label>
                                            <input [(ngModel)]="docente.fecha_Nacimiento" class="form-control"
                                                name="fecha NAcimiento" placeholder="" type="date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Genero: </label>
                                            <select class="browser-default custom-select" id="exampleFormControlSelect1" name="Genero"
                                                [(ngModel)]="docente.genero" type="text">
                                                <option>FEMENINO</option>
                                                <option>MASCULINO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Email:</label>
                                    <input [(ngModel)]="docente.email" class="form-control" placeholder="DIGITE EMAIL"
                                        name="Email" type="text" />

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Telefono:</label>
                                            <input [(ngModel)]="docente.telefono" class="form-control" name="Telefono"
                                                placeholder="DIGITE TELEFONO" type="number" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="control-group">
                                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                            <label>Fecha Vinculacion:</label>
                                            <input [(ngModel)]="docente.fecha_Vinculacion" class="form-control"
                                                name="fecha Vinculacion" placeholder="" type="date" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2 ">
                                    <label>Tipo Docente:</label>
                                    <select class="browser-default custom-select" 
                                            [(ngModel)]="docente.tipo_Docente"
                                            name="tipo" placeholder="DIGITE TIPO DE DOCENTE" type="text">
                                        <option>CATEDRATICO</option>
                                        <option>PLANTA</option>
                                    </select>
                                </div>
                            </div>

                            <br>
                            <!--BOTON-->
                            <div id="success"></div>
                            <div class="form-group">
                                <button (click)="add()" type="submit" class="btn btn-primary btn-xl" name="boton"
                                    id="sendMessageButton">AGREGAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>